@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Accura.Models.Account

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acura: Login</title>
    @* <link rel="stylesheet" href="~/css/style.css"> *@
    <style>
        body {
            background-color: #393E46;
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            background-color: #222831;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 1300px;
        }

        .image-section {
            flex: 1;
            background: url('/img/login.png') no-repeat;
            background-size: cover;
        }

        .form-section {
            flex: 1;
            padding: 2rem;
            color: #FFFFFF;
        }

        .card-title {
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .input-field {
            margin-bottom: 1rem;
        }

            .input-field input {
                border: none;
                border-bottom: 1px solid #EEEEEE;
                background: none;
                color: #FFFFFF;
                font-size: 1rem;
                width: 100%;
                padding: 0.5rem 0;
            }

            .input-field label {
                color: #FFFFFF;
                font-size: 0.8rem;
                display: block;
                margin-bottom: 0.5rem;
            }

        .btn {
            background-color: white;
            color: black;
            border-radius: 4px;
            padding: 0.8rem 1.5rem;
            font-size: 1rem;
            margin-right: 1rem;
            border: none;
            cursor: pointer;
        }

            .btn:hover {
                background-color: black;
                color: white;
            }

        .btn-secondary {
            color: white;
            font-size: 1.2rem;
            background-color: transparent;
        }

            .btn-secondary:hover {
                background-color: black;
                color: white;
            }

    </style>

</head>

<body>
    <div class="container">
        <div class="image-section">
        </div>
        <div class="form-section">
            <form asp-action="Login" method="post">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Login</span><br><br>
                        <div class="input-field">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" id="email" type="email" class="validate">
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="input-field">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" id="password" type="password" class="validate">
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="input-field">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Login</button><br><br>
                            Don't Have an Account?<a asp-controller="Account" asp-action="Register" class="btn btn-secondary waves-effect waves-light">Create Account</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
